Andreas Karlberg <andkarlb@student.chalmers.se>  Andreas Karlberg <andkarlb@student.chalmers.se> Bosch <magnushuttu@gmail.com>  Bosch <magnushuttu@gmail.com> Kara <jonathankara@hotmail.com>  Kara <jonathankara@hotmail.com> Mushu <linus@mushu.it>  Mushu <linus@mushu.it> 
Mushu <linus@mushu.it>  unknown <Pontus@Pontus-PC.(none)> 
Kara <jonathankara@hotmail.com>  unknown <Jonathan@Jonathan-dator.(none)>